*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
    width: 500px;
}



.rosso{
    color: red;
}
.verde{
    color: green;
}
.sottolinea{
    text-decoration: underline;
}
.bianconero{
    filter: grayscale(1);
}